@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

html, body {
  overflow: hidden;
  overscroll-behavior-y: contain;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.main-container {
  height: 600px;
  max-width: 500px;
  width: 90%;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 24px 1px rgba(145, 135, 145, 1);
  -moz-box-shadow: 1px 1px 24px 1px rgba(145, 135, 145, 1);
  box-shadow: 1px 1px 24px 1px rgba(145, 135, 145, 1);
  overflow-y: auto;
  position: relative;
}

.input-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding-block: 20px;
}

.input-container .input-sub-container {
  width: calc(100% - 60px);
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.input-container .input-sub-container input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-container .input-sub-container .fa-pen-to-square {
  font-size: 1.2rem;
}

.input-container button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: lightcyan;
  transition: background-color 0.2s ease-out;
}

.input-container button:hover{
    background-color: cyan;
}

.input-container button .fa-plus {
  font-size: 2rem;
}

.todo-container .todo {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcyan;
  transition: all 0.2s ease-out;
}

.todo-container .todo:hover{
    transform: scale(1.05);
    background-color: cyan;
}

.todo-container .todo label {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.todo .fa-trash{
    cursor: pointer;
    transition: color 0.2s ease-in;
    padding: 10px;
}

.todo .fa-trash:hover{
    color: #ffffff;
}

.completed-todo{
    text-decoration: line-through !important;
}

.empty-todo-list{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 1.5rem;
}